<div class="card clipped-bot" style="margin: 0px;">
    <div class="Beacon-stat-header clipped-top">// {{upper-case actorName}} is OVERCHARGING //</div>
    <div class="dice-roll Beacon-dice-roll">
      <div class="dice-result">
        <div class="dice-formula Beacon-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ roll.formula }}</span>
          <div class="overchage-heat-wrapper flexrow" style="justify-content: flex-end;">
            {{#for level}}
            <i class="cci cci-heat overcharge-heat"></i>
            {{/for}}
          </div>
          <span class="dice-total Beacon-dice-total major">{{ roll.total }}</span>
        </div>
        <div style="text-align: left;">
          {{{ roll_tooltip }}}
        </div>
      </div>
    </div>
</div>